input {
  	background-color: #555555;
  border: none;
  color: white;
  padding: 15px 32px;
  margin-top: 50px;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


.container{
	text-align:center;
}

.divider{
    width:50px;
    height:auto;
    display:inline-block;
}